<% title "Discussion" %>

<p>
  <strong>Title:</strong>
  <%=h @discussion.title %>
</p>
<p>
  <strong>Body:</strong>
  <%=h @discussion.body %>
</p>
<p>
  <strong>Author:</strong>
  <%=h @discussion.user.name %>
</p>
<p>
	<strong>Tags:</strong>
	<%=h @discussion.tag_list %>
</p>
<p>
  <%= link_to "Edit", edit_discussion_path(@discussion) %> |
  <%= link_to "Destroy", @discussion, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", discussions_path %>
</p>
