<% title "Document" %>

<p>
  <strong>Title:</strong>
  <%=h @document.title %>
</p>
<p>
  <strong>Content:</strong>
  <%=h @document.content %>
</p>
<p>
  <strong>Author:</strong>
  <%=h @document.user.name %>
</p>
<p>
	<strong>Tags:</strong>
	<%=h @document.tag_list %>
</p>
<p>
  <%= link_to "Edit", edit_document_path(@document) %> |
  <%= link_to "Destroy", @document, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", documents_path %>
</p>
